<!DOCTYPE html>
<html>
	<head>
		<title>TechSpark</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">

	</head>

	<body>
	<nav class="navbar navbar-dark bg-primary" style="height: 100px">
		<div class="container-fluid">
			<div class="navbar-header">
				<p style="margin-left: 450px;margin-top: 25px; font-size: 45px; font-weight: bold;font-family: Calibri">DASHBOARD</p>
			</div>
			
			
		</div>
	</nav>
	
		<div id="notification" class="col-sm">
			<h3 style="text-align: center; font-weight: bold;color: blue;">Daily Notifications</h3>
			<div>
				<p style="margin-left: 20px; margin-top: 20px">Date:9/01/2017</p>
				<p style="margin-left: 20px;">Time: 2:35pm</p>
				<p style="margin-left: 20px; font-size: 18px; font-weight: bold; text-decoration: underline;color: blue;">Supplier Details</p>
				<p style="margin-left: 40px;"><strong>Name</strong>: Om Prakash</p>
				<p style="margin-left: 40px;"><strong>Address</strong>: XYZ Industries, Near Haridwar Factory</p>
				<p style="margin-left: 40px;"><strong>Contact</strong>: 9594856750</p>
				<p style="margin-left: 20px; font-size: 18px; font-weight: bold; text-decoration: underline;color: blue;">Influx</p>
				<p style="margin-left: 40px;"><strong>Items:</strong></p>
					<ul style="margin-left: 70px;margin-top: -20px">
						<li>Tomatoes: 200kgs</li>
						<li>Pepper: 50kgs</li>
						<li>Salt: 50kgs</li>
					</ul>
				<p style="margin-left: 40px;"><strong>Quality Certificate:</strong><button type="button" class="btn btn-link">Link</button></p>

				<a href="/home"><button style="margin-left: 100px; margin-top: -10px;" type="button" class="btn btn-primary">Accept</button></a>
				
				<a href="/pointA"><button style="margin-left: 5px; margin-top: -10px;" type="button" class="btn btn-danger">Reject</button></a>
				

			</div>
		</div>

		<div id="action">
			<img id="image" src="/images/line.png">
			<a href="/home"><button style="margin-left: 20px; width: 18px0px; height: 50px; margin-top: -50px" type="button" class="btn btn-primary">View the Production Line</button></a>
			<a href="/pointA"><button style="margin-left: 560px; width: 180px; height: 50px; margin-top: -300px" type="button" class="btn btn-success">Enter Line Data</button></a>
		</div>

	
	</body>
</html>