<% include partials/header %>

	
	

	<div id="inputDiv1">
		<p id="inputPointA">INPUT - POINT A</p>
		<ul id="listInputPointA">
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>

		</ul>
	</div>
		
	<div id="inputDiv2">
		<p id="inputPointB">INPUT - POINT B</p>
		<ul id="listInputPointB">
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>

		</ul>
	</div>

	<div id="inputDiv3">
		<p id="inputPointC">INPUT - POINT C</p>
		<ul id="listInputPointC">
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>

		</ul>
	</div>

	<div>
		<img src="/images/downArrow.png" id="downArrow">
		<img src="/images/downArrow.png" id="downArrow" style="margin-left: 290px">
		<img src="/images/downArrow.png" id="downArrow" style="margin-left: 290px">
	</div>

	<div id="inputDiv4">
		<p id="inputPointA">DATA - POINT A</p>
		<ul id="listInputPointA">
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>

		</ul>
	</div>


	<img src="/images/rightArrow.png" id="rightArrow">
	<div id="inputDiv5">
		<p id="inputPointA">DATA - POINT A</p>
		<ul id="listInputPointA">
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>

		</ul>	
	</div>
	<img src="/images/rightArrow.png" id="rightArrow">
	<div id="inputDiv6">
		<p id="inputPointA">DATA - POINT A</p>
		<ul id="listInputPointA">
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>
			<li>to be decided</li>

		</ul>
	</div>

	<div id="inputDiv7">
		<p id="inputWastage">WASTAGE</p>
	</div>

<% include partials/footer %>
